* {
  box-sizing: border-box;
}
body {
  padding-top: 100px;
  font-weight: 300;
  background: #00324e;
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
h1,
h2 {
  margin: 0;
  font-weight: normal;
}
a {
  color: #fff;
  text-decoration: none;
}
.navbar {
  width: 100%;
  height: 65px;
  background: #006aa6;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 10;
}
.logo {
  margin-left: 5%;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
.navList {
  margin-left: 70%;
  display: inline-flex;
  height: inherit;
}
.navButton {
  height: inherit;
  text-align: center;
  line-height: 65px;
  padding-right: 20px;
}
.navButton:hover {
  cursor: pointer;
}
.container {
  width: 720px;
  background: #fff;
  margin: 0 auto;
  padding: 35px 35px;
  border-radius: 5px;
}
.mainComment_container {
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
}
.mainComment {
  width: 100%;
  height: 100px;
  border: 1px solid #808080;
  border-radius: 5px;
}
.replyComment {
  width: 100%;
  height: 50px;
  border: 1px solid #808080;
  border-radius: 5px;
}
.row {
  width: 100%;
}
.col {
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 10px 0px;
}
.inf {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.inf p {
  line-height: 0.3rem;
}
.inf .time {
  color: #797979;
}
.replyContainer {
  width: 90%;
  margin-left: 10%;
  position: relative;
  padding-bottom: 30px;
}
.replyCol {
  background: #96d1f3;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
.replyCol p {
  margin: 0.5rem 0px;
}
.replyButton {
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.replyFormContainer {
  display: none;
}
.whoComment {
  font-weight: bold;
  font-size: 1.1rem;
}
.time {
  font-weight: 200;
}
.pageContainer {
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}
.pageContainer p {
  display: inline;
}
.page {
  background: #006aa6;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: #fff;
  display: inline-block;
  margin: 0px 3px;
  transition: background 0.3s ease-out;
}
.page:hover {
  cursor: pointer;
  background: #00324e;
}
.pageNow {
  background: #00324e;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: #fff;
  display: inline-block;
  margin: 0px 3px;
}
