* 
	box-sizing border-box
body 
	margin 0
	background rgb(230, 222, 204)
h1 
	font-weight normal
	margin 0 0 25px 0
p 
	font-size 0.8rem
input
	border 0px
	&:focus
		outline none
.banner 
	width 100%
	height 280px
	background url('https://lh6.googleusercontent.com/DhGTpS0hX86eaiiSOXINzHWYugDnLjNfGMoALJNJFkFfED6RWNIGEaUTriu1ltHYPiE02g0elg=w1200')
	background-size cover
	background-position center
	position absolute
	top 0px
	z-index -10 
.container
	width 640px
	margin 0 auto 
	background white 
	padding 40px 40px 20px 30px
.topDiv
	width 640px 
	margin 0 auto
	height 8px
	margin-top 180px
	background rgb(194, 185, 110)
.red 
	color #db4437
.question 
	width 100%
	padding 20px 10px 
	margin-bottom 2px 
	h1 
		font-size 1.5rem
		display inline-block
		margin 0
	h2 
		color #db4437
		font-size 1rem
		font-weight normal
		display none
	.textInput 
		margin 20px 0 0 0
		display block
		width 300px
		font-size 1.0rem
		padding 5px 0px
		background-color inherit
.underLine
	width 300px 
	height 2px 
	background #737373
	transform-origin center
	transform scale3d(0,1,1)
	transition all 0.3s ease-out
.inputBorder 
	width 300px
	border-bottom 1px solid rgba(0,0,0,0.12)
	position relative
	&:hover  .underLine
		//transform scale3d(1,1,1)
.radioInput
	margin 15px 5px
	width 18px 
	height 18px
	&:hover 
		cursor pointer
.radioContainer
	display flex 
	align-items center
.topContainer
	padding 0 10px
	a 
		color blue
.noAnswer
	background #ffebee
	.inputBorder
		border-color #db4437
	.underLine
		background #db4437
	h2
		display block	
#submit 
	width 90px 
	height 35px
	background-color #1d86ea
	color white 
	border-radius 3px
	margin-top 30px
	margin-bottom 10px
	&:hover 
		cursor pointer
.alert 
	color gray 
.footer
	margin-top 30px 
	text-align center
	color rgb(100, 100, 100)
	a 
		text-decoration none
		color inherit
	h1 
		cursor pointer
.problem 
	position fixed 
	height 20px 
	left 15px 
	bottom 15px
	color white 
	text-align center
	line-height 20px
	font-size 0.5rem
	&:hover .reply 
		opacity 1
		visibility visible
		
	&:hover
		cursor pointer
.wow 
	padding 3px 8px
	background #585858
.reply 
	visibility hidden
	opacity 0
	padding 3px 8px
	margin-left 15px
	background #585858
	transition: visibility 0s, opacity 0.5s ease-out 
	transition-delay 0.3s