* 
	box-sizing border-box
body 
	background rgb(227,233,255)
.block 
	border 1px solid black
	height 20px	
.slogan 
	background rgb(175,126,235)
	color white
	text-align center
	margin-bottom 20px
.thing_container
	border-bottom 1px solid #8080804a
	width 100%
	padding 10px 0px
.list_back
	background white
	padding 10px 10px
.firstLine 
	border-bottom 1px solid #8080804a